body{
     font-family: 'Roboto', sans-serif;
     margin:auto;
     padding:0;
     background-image: url(../img/slika2.png);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center center;
     background-size: cover;
       
 }

 .container{
margin-top: 160px;
   
}
.signin-form{
margin:auto;

}
